.happy {
  margin-top: 10%;
  text-align: center;
  font-family: "Miniver", cursive;
  margin-top: 7%;
  font-size: 2.5em;
  color: #b7a286;
  text-shadow: 5px 5px 6px#F2E5D5;
}
.title {
  margin-top: 10%;
  text-align: center;
  font-family: "Miniver", "ZCOOL XiaoWei", sans-serif, cursive;
  margin-top: 7%;
  font-size: 2.5em;
  color: #b7a286;
  text-shadow: 5px 3px 3px#F2E5D5;
}
.title_video {
  font-family: "ZCOOL XiaoWei", sans-serif;
  text-align: left;
  font-size: 1.4em;
  color: #b7a286;
}
.border {
  line-height: 1;
  font-size: 2.3em;
  color: rgb(227, 229, 238);
}
.border_ {
  line-height: 1.3;
  font-size: 1em;
  letter-spacing: 0em;
  margin-block: 10%;
  color: rgb(227, 229, 238);
}
.imgCake{
  display:block;
  height:80%;
  width:80%;
  margin:auto;
  object-fit:contain;
}
.img1 {
  height: 300px;
  width: 180px;
  object-fit: contain;
}
.img2 {
  height: 150px;
  width: 150px;
  object-fit: contain;
  margin-block: 3%;
}
.imghz {
  height: 200px;
  width: 300px;
  object-fit: contain;
  margin-block: 4%;
}

.frame {
  position:relative;
  display: grid;
  min-height: 600px;
  max-width: 400px;
  margin: 4% auto;
  background-color: #f2e1d5af;
}
.framePicPage {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  position: relative;
  min-height: 600px;
  max-width: 650px;
  margin: 4% auto;
  background-color:#f2e1d5af;
  padding: 3%;
}
.frameVideoPage {
  display: grid;
  position: relative;
  max-width: 650px;
  width: 90%;
  min-height: 600px;
  margin: 4% auto;
  background-color: #f2e1d5af;
}
.container {
  position:relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.2em;
  place-items: center;
  height: auto;
}
.container_ {
  display: grid;
  place-items: center;
  padding: 3%;
}
.card {
  margin: center;
}

.arraw {
  color: rgba(240, 248, 255, 0.788);
  max-height: 1.3em;
  max-width: 2em;
  line-height: 1;
  font-size: 3em;
  background-color: rgba(167, 183, 211, 0.873);
  border: 3px solid rgba(211, 217, 230, 0.942);
  border-radius: 12px;
}

.button-row {
  position:relative;
  display: flex;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
}
.button-row button:first-child {
  justify-self: left;
}
.button-row button:last-child {
  justify-self: right;
}

body {
  background-image: url("backgroundhzy.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  backgroun-position:center;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
@keyframes flicker {
  from {
    transform: translateX(-50%) scale(0.95);
    opacity: 0.9;
  }
  to {
    transform: translateX(-50%) scale(1.05);
    opacity: 1;
  }
}
